Makefile
config.cache
config.log
config.status
include/defs.h
include/defs.h.old
ircbug
scrollz.1
source/*.o
source/scrollz
source/sig.inc
source/TAGS
source/cscope.out
source/depend.mk
source/tags
source/wterm.c
